---
extends: default

rules:
  line-length:
    max: 120
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
  document-start: disable
  comments: disable

ignore: |
  .venv/
  venv/
  .git/
  molecule/*/create.yml
  molecule/*/destroy.yml
  .ansible/
